h1{
    color: yellow;
    background-color: black;
    text-align: center;
}
body{
    background-color: #F5F5F5;
}
.container{
    margin-top: 50px;
    text-align: center;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
}
th{
    background-color: yellow;
    font-weight: bold;
}
td{
    background-color: white;
    border: 2px solid black;
    text-align: center;
}
select{
    background-color: white;
    border: 2px solid black;
}
select:hover{
    border: 2px solid yellow;
}
input{
    background-color: white;
    border: 2px solid black;
}
/* input:empty{
    border: 2px solid red;
}
input:hover{
    border: 2px solid yellow;
} */
